*{

  margin: 0;

  padding: 0;

  box-sizing: border-box;

}

.search{

  background-image: url('Image/download.jpeg');

  background-repeat: no-repeat;

  background-size: cover;

  background-position: inherit;

}

.search h1{

  font-weight: bold;

  font-size: 2.5rem;

}

.search p{

  font-weight: bold;

  font-size: 1rem;

}

.content input{

  outline: none;

  border: none;

  width: 50%;

  background-color: #000;

  color: #fff;

  padding: 10px;

  border-top-right-radius: 0;

  border-bottom-right-radius: 0;

  border-top-left-radius: 6px;

  border-bottom-left-radius: 6px;

}

.content button{

  border-top-right-radius: 6px;

  border-bottom-left-radius: 0;

  border-top-left-radius: 0;

  border-bottom-right-radius: 6px;

  outline: none;

  border: none;

  background-color: #000;

  color: #fff;

  padding: 14.7px;

}

#search-results{

  display: flex;

  flex-direction: column;

  margin-left: auto;

  margin-right: auto;

  display: block;

}

#search-results #photo{

  gap: 15px;

  max-width: 95%;

  margin-top: 40px;

  columns: 5 340px;

}

#photo img{

  width: 100%;

}

#photo .carda{

  list-style: none;

  margin-bottom: 14px;

  border-radius: 5px;

}

.search-result-image {

  width: 300px;

  height: 200px;

  object-fit: cover;

  border-radius: 10px;

}

.gallery{

  display: flex;

  flex-direction: column;

  margin-left: auto;

  margin-right: auto;

  display: block;

}

.gallery .images{

  margin: 15px;

  max-width: 95%;

  margin-top: 40px;

  columns: 5 340px;

}

.images img{

  width: 100%;

}

img{

  margin: 15px;

  margin-left:50px;

  width: ;

}

img:hover {

  transform: scale(1.1);

  transition: transform 0.5s ease;

}

.carda .detail{

  position: absolute;

  bottom: 0;

  width: 100%;

  color: #fff;

  padding: 15px 20px;

  background:liner-gradient (to top,rgb (0,0,0,0.7) transparent);

}

.images .carda {

  list-style: none;

  margin-bottom: 14px;

  border-radius: 5px;

}

.loading-button{

  margin: 5px 0;

  border-radius: 6px;

  outline: none;

  border: none;

  color: #fff;

  font-size: 1.2rem;

  padding: 12px;

  margin-left: auto;

  margin-right: auto;

  display: block;

  background-color: #8a6cff;

  cursor: pointer;

}

.go{

  margin: 5px ;

  border-radius: 50%;

  outline: none;

  border: none;

  color: #fff;

  font-size: 1.2rem;

  padding: 10px;

  float: right;

  position: fixed;

  bottom: 0;

  background-color: #8a6cff;

  cursor: pointer;

}

a{

  text-decoration: none;

}
